<h1>Hi, <%= @user.full_name %></h1>
<h3>There was a request to sign up on Heatcheck.</h3>
<p>
  If you did not make this request, just ignore this email.
  Otherwise, please click the link below to set your password and finish the registration.
</p>
<p>
  <%= link_to "Set my password", edit_user_password_url(@user, token: @user.confirmation_token.html_safe, new_user: "1") %>
</p>
