<h3>Hi, <%= @user.full_name %></h3>

<p>
  Someone has removed you from the <%= @workspace.name %> Workspace on Heatcheck.
  You will not have access to this workspace and all its projects anymore.
<p>
