<div class="modal mb-20" id="edit_project" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="modal-container mb-32 w-1/3" role="dialog" aria-modal="true" aria-labelledby="edit_project-title">
      <header class="flex justify-between mb-6">
        <h2 class="text-teal-800 font-bold" id="edit_project-title">
          Rename Survey
        </h2>
        <button class="text-sm text-gray-500 focus:outline-none" aria-label="Close modal" data-micromodal-close>Close</button>
      </header>
      <main class="" id="edit_project-content">
        <div data-role="edit_project">
        </div>
      </main>
    </div>
  </div>
</div>
