<div class="modal mb-20" id="complete_later" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="modal-container mb-32 w-2/3" role="dialog" aria-modal="true" aria-labelledby="complete_later-title">
      <header class="flex justify-between mb-6">
        <h2 class="text-teal-800 font-bold" id="complete_later-title">
          Complete later
        </h2>
        <button class="text-sm text-gray-500 focus:outline-none" aria-label="Close modal"
          data-micromodal-close>Close</button>
      </header>
      <main class="mb-5" id="complete_later-content">
        <div data-role="complete_later">
          <div>
            <h1 class="text-xl text-center">Save this link if you want to complete the survey later: </h1>
          </div>
          <div class="mt-4 mx-auto w-1/2 text-center">
            <div class="border rounded pl-2 flex" data-controller="clipboard">
              <input type="text" data-target="clipboard.source" class="w-full focus:outline-none" value="<%= short_url(
                  edit_workspace_project_survey_result_path(workspace, project, survey, result),
                  category: "continued survey"
                ) %>" readonly>
              <button class="bg-teal-500 border border-teal-500 text-white ml-2 px-1 py-1 rounded-r focus:outline-none"
                data-action="clipboard#copy">
                <%= inline_svg("icons/clipboard.svg", class: "inline",
                         height: 24, width: 24, alt: "Copy to clipboard") %>
              </button>
              <span class="hidden text-sm" style="position: relative; top: 45px; left: 10px; margin-left: -48px;"
                data-target="clipboard.tooltip">Copied!</span>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
