<div class="table-row">
  <div class="table-cell pr-4 py-2">
    <%= workspace_member.user.full_name %>
  </div>
  <div class="table-cell px-4 py-2">
    <%= workspace_member.user.email %>
  </div>
  <div class="table-cell px-4 py-2">
    <% if can?(:destroy, workspace_member) && current_user != workspace_member.user && !workspace_member.creator? %>
      <%= link_to inline_svg("icons/trash.svg", class: "inline align-text-bottom",
                             height: 20, width: 20, alt: "Trash icon"),
                  workspace_workspace_member_path(current_workspace, workspace_member),
                  method: :delete,
                  class: "text-gray-600 hover:text-gray-900",
                  data: { confirm: "Are you sure you want to remove this member from the workspace?" } %>
    <% elsif current_user == workspace_member.user && !workspace_member.creator? %>
      <%= link_to "Leave",
                  workspace_workspace_member_path(current_workspace, workspace_member),
                  method: :delete,
                  class: "text-gray-600 hover:text-gray-900",
                  data: { confirm: "Are you sure you want to leave this workspace?" } %>
    <% end %>
  </div>
</div>
